.scene {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#49a9f8, #c8f6ff);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn {
  padding: 12px 24px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
}

.dino-run {
  width: 230px;
  position: absolute;
  bottom: 20px;
  animation: runAcross 6s linear forwards;
}

/* Dino walking animation */
@keyframes runAcross {
  0% { transform: translateX(-300px) scale(0.8); }
  50% { transform: translateX(400px) scale(1); }
  100% { transform: translateX(900px) scale(0.9); }
}
