.p3{
    background-color: black;
    color: whitesmoke;
}
.dia{
    color: red;
}
input[type="text"]{
    height: 50px;
    width: 50px;
    border: green solid;
}
#leo{
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
}
input[type="password"]{
    height: 50px;
    width: 100px;
    border: rgb(128, 0, 100) solid;
    color: brown;
}